:root {
  --color-p1: hsl(243, 87%, 12%);
  --color-p2: hsl(238, 22%, 44%);

  --color-a1: hsl(224, 93%, 58%);
  --color-a2: hsl(170, 45%, 43%);

  --color-n1: hsl(240, 75%, 98%);
  --color-n2: hsl(0, 0%, 75%);
}

.color-p1 {
  color: var(--color-p1);
}
.color-p2 {
  color: var(--color-p2);
}

.color-n1 {
  color: var(--color-n1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.column {
  flex-direction: column;
}

.column-2 {
  grid-template-columns: 1fr 1fr;
}

.container {
  max-width: 1200px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;
}

.button {
  padding: 11.6px 30px;
  background-color: var(--color-a1);
  border-radius: 4px;
  transition: 0.2s;
}

.button:hover {
  background-color: var(--color-a2);
}

@media (max-width: 800px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
