.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.header-logo img {
  width: 166px;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.header-menu a {
  display: inline-block;
  padding: 10px 20px;
  /* border-radius: 8px; */
}

.header-menu a::after {
  display: block;
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--color-p1);
  margin-top: 2px;
  transition: 0.2s;
}

.header-menu li:hover a::after {
  width: 100%;
}

@media (max-width: 850px) {
  .header {
    padding-top: 40px;
  }
  .header-logo img {
    width: 83px;
  }
  .header-menu {
    gap: 5px;
  }
  .header-menu a {
    padding: 2px 6px;
  }
}
